extends layout.pug

block content
  include leapScreen.pug
  include data/dash.pug
  include includes/footer.pug
  script(src='./video.js')
  script(src='https://js.leapmotion.com/leap-0.6.4.min.js')
  script(src='./leapShowHand.js')
  script(src='./socket.io.js')
  script(src='./dummy.js')
