extends layout.pug

block content
  section#video
    h2 Let get the camera
    video(id="webcamfeed" autoplay)

  section#data
    h2 Sphero's data
    h3 Connect to Balls
    h3 Ball's DATA
    form(action='/', method='post')
      button(type='submit') Get the ball's data
    p= data