extends layout.pug

block content
  section#video
    h2 Welcome, student!

  section#data
    h2 Sphero's data
    form(action='/', method='post')
      button(type='submit') Get the ball's data
    p= data