extends layout.pug

block content
  section#video
    h2 Let's get the camera
    video(id="webcamfeed" autoplay)

  section#data
    h2 Sphero's data
    h3 Connect to Balls
    h3 Ball's DATA
    form(action='/', method='post')
      button(type='submit') Get the ball's data
    p= data
  include includes/footer.pug
  script(src='./video.js')
  script(src='https://js.leapmotion.com/leap-0.6.4.min.js')