doctype html
html(lang="en")
  head
    title 地方二樓ERGOBAR
    link(rel="stylesheet" type="text/css" href="./leapShowHand.css")
    link(rel="stylesheet" type="text/css" href="./dummy.css")
  body
    block content
    

