
#app(class='show-hands')
  include data/dashU.pug
  #scene
    video(id="webcamfeed" autoplay)
    #cube(class='cube')
      div(class='face tp')
      div(class='face lt')
      div(class='face rt')
      div(class='face ft')
      div(class='face bk')

    #finger(class='cube finger')
      div(class='face tp')
      div(class='face lt')
      div(class='face rt')
      div(class='face ft')
      div(class='face bk')
    #sphere(class='cube sphere')
      div(class='face tp')
      div(class='face lt')
      div(class='face rt')
      div(class='face ft')
      div(class='face bk')