#webcamfeed{
  z-index: 998;
}

button {
  position: relative;
  z-index: 999;
  padding: .5em;
  margin: .5em;
}

.ui{
  width: 100%;
  background-color: rgba(0, 182, 214, 0.502);
  color: #FFF;
  font-size: 2em;
}

#uiB{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 400px;
  padding: 1em;
  text-align: right;
}